---
import Tag from "./tag.astro";

interface TagProps {
  name: string;
  color: string;
}

interface Props {
  title: string;
  tags: Array<TagProps>;
  intro: string;
  slug: string;
  cover: string;
}

const {
  title = "",
  tags = [],
  intro = "",
  slug = "",
  cover = "",
} = Astro.props;
---

<div
  class="h-[400px] w-full rounded-2xl flex flex-row justify-center px-[50px]"
>
  <a href={`/${slug}/`} class="flex flex-row justify-center w-full">
    <div
      class="w-1/2 h-[full] bg-white rounded-3xl my-4 card"
      style={{
        backgroundImage: `url('${cover}')`,
        backgroundSize: "cover",
      }}
    >
    </div>

    <!-- <div class="w-10 h-full flex justify-center items-center">
      <div class="bg-slate-600 w-full h-[1px] line"></div>
    </div>
    <div class="w-[0.5px] h-full ml-[2px]">
      <div class="bg-slate-500 h-full w-[1px] line"></div>
    </div> -->
    <div class="w-1/2 rounded-3xl mx-5 mt-10 card">
      <div class="flex flex-col px-10">
        <h2 class="text-white text-[40px] mb-10">{title}</h2>
        <div class="flex gap-2">
          {
            tags.map((tag) => (
              <Tag className="mb-2" tagName={tag.name} tagColor={tag.color} />
            ))
          }
        </div>
        <p>{intro}</p>
      </div>
    </div>
  </a>
</div>

<style>
  h2 {
    font-weight: 100;
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
  p {
    font-size: 1rem;
    font-weight: 100;
  }
</style>

<script>
  ScrollReveal().reveal(".card", { interval: 300 });
</script>
