---
import CardMati from "../../images/CardMati.png";
import CardHiro from "../../images/CardHiro.png";
import CardMarilyn from "../../images/CardMarilyn.png";
import CardDenis from "../../images/CardDenis.png";
import CardMarian from "../../images/CardMarian.png";
import CardKaen from "../../images/CardKaen.png";
import CardFran from "../../images/CardFran.png";
import CardIan from "../../images/CardIan.png";
import { Image } from "astro:assets";
---

<section class="h-[100vh] py-[100px] mx-[50px]" id="team">
  <div class="">
    <h3 class="text-white text-[34px] text-center py-10">Nuestro equipo</h3>
  </div>
  <div class="swiper-container-wrapper load-hidden cards">
    <swiper-container
      class="swiper-container"
      keyboard="true"
      pagination="true"
      pagination-clickable="true"
      space-between="30"
      slides-per-view="5"
      navigation="true"
      style={{
        "--swiper-navigation-color": "#FFF",
        "--swiper-pagination-bottom": "auto",
      }}
    >
      <swiper-slide><Image src={CardMati} alt="Matias Araujo" /></swiper-slide>
      <swiper-slide><Image src={CardHiro} alt="Eduardo Suyama" /></swiper-slide>
      <swiper-slide
        ><Image src={CardMarilyn} alt="Marilyn Botheatoz" /></swiper-slide
      >
      <swiper-slide><Image src={CardDenis} alt="Denis Perafan" /></swiper-slide>
      <swiper-slide
        ><Image src={CardMarian} alt="Mariano Ortega" /></swiper-slide
      >
      <swiper-slide><Image src={CardKaen} alt="Martin Kaen" /></swiper-slide>
      <swiper-slide><Image src={CardFran} alt="Francisco Sempé" /></swiper-slide
      >
      <swiper-slide><Image src={CardIan} alt="Ian Solari" /></swiper-slide>
    </swiper-container>
  </div>
</section>

<style>
  .load-hidden {
    visibility: hidden;
  }
</style>

<script
  src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"
></script>

<script>
  ScrollReveal().reveal(".cards", { duration: 3000 });
</script>
